/* *******************************************
****** PROJECT SETUP
******************************************* */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
/*
font-family: 'Cormorant', serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Cormorant Infant', serif;
*/
/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;
  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* outline: 2px solid gold; */
}

/* *******************************************
****** GENERAL STYLES
******************************************* */
body {
  font-size: 18px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

p {
  font-size: 1em;
}

/* *******************************************
****** INDEX PAGE
******************************************* */
header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: white;
}

header h1 {
  font-family: "Cormorant", serif;
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
  color: #7ebfd8d6;
  padding: 2% 0 0 2%;
}

header .mobile-nav {
  display: block;
  width: 100%;
  text-align: right;
  position: fixed;
  top: 0;
}

header .mobile-nav .nav-icon {
  width: 100px;
  height: 60px;
  padding: 0px;
  position: fixed;
  right: 0;
}

header .mobile-nav .las {
  font-size: 2.5em;
}

header .mobile-nav .fas.fa-caret-left {
  font-size: 3em;
  text-align: center;
  color: #64b3d2d6;
  width: 100%;
  height: 100%;
}

header .mobile-nav .bars-active {
  padding: 0 0 0 2% !important;
}

header .mobile-nav .bars-active:before {
  content: "\f0da";
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

header .mobile-nav .nav-closed {
  width: 0%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: visibiity 0.3s, linear 0.4s;
  transition: visibiity 0.3s, linear 0.4s;
  position: absolute;
  top: 60px;
  right: 0;
}

header .mobile-nav .nav-closed a {
  color: black;
  text-decoration: none;
  line-height: 2;
}

header .mobile-nav .nav-open {
  height: 100vh;
  width: 100%;
  padding: 2%;
  text-align: center;
  background: #dbdbdb;
  -webkit-transition: visibiity 0.3s, linear 0.5s;
  transition: visibiity 0.3s, linear 0.5s;
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
  position: absolute;
  top: 60px;
  right: 0;
}

header .mobile-nav .nav-open a {
  color: black;
  text-decoration: none;
  line-height: 2;
}

main {
  margin-top: 60px;
}

#home {
  width: 100%;
}

#home .profile {
  height: 50%;
  padding: 3%;
  background-image: url("../images/header1.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffbaba;
  line-height: 2em;
}

#home .profile img {
  width: 45%;
  border-radius: 100%;
}

#home .profile span {
  color: white;
}

#home .profile p {
  font-size: 1.1em;
  line-height: 1.5em;
}

#home .profile .social-icons,
#home .profile .resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin: 10px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .profile .social-icons li,
#home .profile .las.la-arrow-alt-circle-right {
  font-size: 2.5em;
  margin-left: 5%;
  color: white;
}

#home .skills {
  padding: 5%;
  line-height: 3em;
}

#home .skills h2 {
  font-family: "Cormorant", serif;
  font-size: 2em;
}

#home .skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .skills ul li {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
}

#home .skills ul i {
  font-size: 1.5em;
  margin-right: 7%;
}

#projects {
  width: 100%;
}

#projects .projects-header {
  height: 20%;
  background-image: url("../images/flowers.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 15%;
}

#projects .gallery {
  margin-top: 3%;
  padding: 3%;
}

#projects .gallery .gal-item {
  width: 90%;
  margin: 0 auto 10% auto;
  min-height: 380px;
  position: relative;
}

#projects .gallery .gal-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -3px;
  height: 350px;
  border: 1px solid #b4b4b4;
}

#projects .gallery .gal-item .item-desc-text {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  height: 350px;
  color: white;
  padding: 4%;
  line-height: 1.5;
  text-align: center;
  opacity: 0;
  -webkit-transition: linear 200ms, opacity 100ms;
  transition: linear 200ms, opacity 100ms;
}

#projects .gallery .gal-item .item-desc-text:hover {
  opacity: 1;
  -webkit-transition: linear 200s, opacity 100ms;
  transition: linear 200s, opacity 100ms;
}

#projects .gallery .gal-item .item-desc-text p {
  margin-top: 15%;
}

#projects .gallery .gal-item .item-desc-text .item-code-links a {
  color: #81f9ff;
  font-size: 2em;
  margin-right: 5%;
}

#projects .gallery .gal-item .item-descr {
  padding: 3%;
  line-height: 1.5;
  color: black;
}

#projects .gallery .gal-item .item-descr h2 {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

#projects .gallery .gal-item .item-descr p {
  font-size: 0.8em;
}

/* *******************************************
****** PROJECTS PAGE 
******************************************* */
/* *******************************************
****** CONTACT PAGE 
******************************************* */
/* *******************************************
****** MOBILE MENU
******************************************* */
/* *******************************************
****** TABLET VIEW 
******************************************* */
/* *******************************************
****** DESKTOP VIEW 
******************************************* */
/* *******************************************
****** FORMS STYLE
******************************************* */
/*# sourceMappingURL=style.css.map */