/* *******************************************
****** PROJECT SETUP
******************************************* */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

/*
font-family: 'Cormorant', serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

/* *******************************************
****** GENERAL STYLES
******************************************* */

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

h1 {
  font-family: "Cormorant", serif;
  font-size: 2.3em;
}

h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}

p {
  font-size: 1em;
}

/* *******************************************
****** INDEX PAGE
******************************************* */
header {
  width: 100%;
  height: 60px;
  .mobile-nav {
    display: block;
    width: 100%;
    text-align: right;
    position: fixed;
    top: 0;

    .las {
      font-size: 2.5em;
    }

    .fas.fa-caret-left {
      font-size: 2.5em;
      color: #0968b6;
      margin-right: 5%;
      border: 1px solid;
      width: 50px;
      height: 50px;
      //border-radius: 100%;
      text-align: center;
      padding: 0 2% 0 0;
    }
    .bars-active {
      padding: 0 0 0 2% !important;
    }

    .bars-active:before {
      content: "\f0da";
      transition: all 750ms ease-in-out;
    }

    .nav-closed {
      width: 0%;
      height: 0px;
      overflow: hidden;
      text-align: center;
      background: seashell;
      transition: visibiity 0.3s, linear 0.4s;
      position: absolute;
      top: 60px;
      right: 0;
    }

    .nav-open {
      height: 100vh;
      width: 100%;
      padding: 2%;
      text-align: center;
      background: rgb(193, 193, 219);
      transition: visibiity 0.3s, linear 0.5s;
      transition: all 750ms ease-in-out;
      position: absolute;
      top: 60px;
      right: 0;
    }
  }
}
#home {
  width: 100%;
  border: 1px solid red;

  .profile {
    height: 50%;
    padding: 3%;
    background: rgba(0, 0, 0, 0.5);
    background-image: url("/images/header1.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffbaba;
    line-height: 2em;

    img {
      width: 45%;
      border-radius: 100%;
    }

    span {
      color: white;
    }

    p {
      font-size: 1.1em;
      line-height: 1.5em;
    }

    .social-icons,
    .resume {
      display: flex;
      width: 50%;
      justify-content: center;
      color: white;
      margin: 10px auto;
      align-items: center;
    }
    .social-icons li,
    .las.la-arrow-alt-circle-right {
      font-size: 2em;
      margin-left: 5%;
      color: white;
    }
  }

  .skills {
    padding: 5%;
    line-height: 2em;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        width: 50%;
        align-items: center;
        display: flex;
      }
      i {
        font-size: 1.5em;
        margin-right: 5%;
      }
    }
  }
}

/* *******************************************
****** PROJECTS PAGE 
******************************************* */

/* *******************************************
****** CONTACT PAGE 
******************************************* */

/* *******************************************
****** MOBILE MENU
******************************************* */

/* *******************************************
****** TABLET VIEW 
******************************************* */

@media screen and (min-width: 768px) {
}
/* *******************************************
****** DESKTOP VIEW 
******************************************* */
@media screen and (min-width: 1024px) {
}

/* *******************************************
****** FORMS STYLE
******************************************* */
